@media screen and (max-width:991px){
    a{
        font-size: 100%;
    }
    h1{
        font-size: 1.5em;
    }
    div{
        padding-top: 5%;
    }
    .menu li{
        width: 10%;
    }
    .menu_2 li{
        width:20%
    }
}
@media screen and (min-width:992px){
    a{
        font-size: 150%;
    }
    h1{
        font-size: 2em;
    }
    div{
        padding: 1%;
    }
    .menu li{
        width: 5%;
    }
    .menu_2 li{
        width:10%
    }
}

body{
    background-color: #7289da;
    justify-content: center;
    align-items: center;
    margin: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2c2f33;
    outline: 0;
    width: 100%;
}
li{
    display: inline;
    float:left;
    text-align: center;
}
.menu li{
    float: right;
}
a{
    display: block;
    padding: 8px;
    text-decoration: none;
    color: white;
}
.active{
    background-color: #99aab5;
}

li a:hover:not(.active){
    background-color: #23272a;
}
div{
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 70%;
    height:5%;
}
h1{
    margin: 0%;
    text-align: center;
    color: white;
}